body {
    margin: 0;
}

/* SECTIUNEA 1  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 0 0;
}

header ul {
    margin: 0;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    font-size: 16px;
    width: 393px;
}

header li {
    margin: 0;
}

.logo {
    width: 117px;
    height: 37px;
}

.container1 {
    background-color: #87509C;
    height: 596px;
}

.mainContainer1 {
    max-width: 1050px;
    margin: 0 auto;
}

.content1 {
    margin: 0 auto;
    max-height: 223px;
    color: white;
    font-size: 42px;
    padding: 40px;
    text-align: center;
    line-height: 64px;
}

.button_section1 {
    width: 300px;
    height: 70px;
    background-color: #EB7D4B;
    color: #ffffff;
    font-size: 18px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    border-top: #EB7D4B;
    border-left: #EB7D4B;
    border-right: #EB7D4B;
    border-radius: 5px;
}

.button_header1 {
    border: none;
    background-color: #87509C;
    color: #ffffff;
    height: 32px;
    width: 77px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.button5_header1 {
    border: none;
    background-color: #87509C;
    color: #ffffff;
    height: 32px;
    width: 87px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* modificari aduse butonului 5 deoarece este mai lat */
.button_header1:hover {
    background-color: #643A79;
    border-radius: 6px;
}

.button5_header1:hover {
    background-color: #643A79;
    border-radius: 6px;
}

/* SECTIUNEA 2 */
.container2 {
    background-color: #17C2A4;
    height: 747px;
    font-family: Titillium Web;
}

.mainContainer2 {
    max-width: 1050px;
    margin: 0 auto;
}

.title_container2 {
    height: 90px;
    margin: 0 auto;
    padding: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.container2 .title_container2 h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 27px;
    text-align: center;
    max-width: 404px;
    margin: 0 auto;
    max-height: 61px;
    padding: 20px
}

.container2 .title_container2 hr {
    width: 87px;
    max-height: 10px;
    color: #000000;
    opacity: 0.15;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
}

.container2 .title_container2 p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: Titillium Web;
    max-width: 590px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;

}

.content2 {
    margin: 0;
    color: white;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.container2 .content2 .elements {
    margin: 0px 0px 0px 0px;
    width: 20%;
}

.container2 .content2 .elements h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
}

.container2 .content2 .elements p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.elements img {
    height: 40%;
}

/* SECTIUNEA 3 */
.container3 {
    background-color: #E7F1F8;
    height: 914px;
}

.mainContainer3 {
    width: 1050px;
    margin: 0 auto;
}

.container3 .title_container3 {
    font-family: 'Titillium Web';
    color: #3C4761;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.container3 .title_container3 h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 62px;
    padding-top: 60px;
    margin-bottom: 0;
}

.container3 .title_container3 p {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    max-height: 28px;
    margin: 0;
    padding-top: 15px;
}

.container3 .title_container3 hr {
    width: 87px;
    margin: 0 auto;
    max-height: 10px;
    color: #DFE8ED;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
}

.container3 .content3 {
    margin: 0;
    padding-top: 80px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.container3 .mainContainer3 .content3 .elements3 {
    width: 190px;
}

.container3 .mainContainer3 .content3 .elements3 h1 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #3C4761;
}

.container3 .mainContainer3 .content3 .elements3 h3 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #30BAE7;
}

.container3 .mainContainer3 .content3 .elements3 p {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #3C4761;
    height: 120px;
}

/* SECTIUNEA 4 */
.container4 {
    background-color: #FFFFFF;
    height: 655px;
    font-family: Titillium Web;

}

.mainContainer4 {
    width: 1050px;
    margin: 0 auto;
}

.container4 .title_container4 {
    color: #3C4761;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 15px;
}

.container4 .title_container4 h1 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    margin-bottom: 0;
    padding-top: 60px;
}

.container4 .title_container4 p {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    width: 547px;
    margin: 0 auto;
    padding-top: 10px;
}

.container4 .title_container4 hr {
    width: 87px;
    margin: 0 auto;
    max-height: 10px;
    color: #DFE8ED;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
}

.container4 .content4 {
    margin: 0;
    padding-top: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.container4 .mainContainer4 .content4 .elements4 {
    width: 190px;
    padding-top: 30px;
}

.container4 .mainContainer4 .content4 .elements4 h1 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
}

/* SECTIUNEA 5 */
.container5 {
    background-color: #FFDD99;
    height: 1423px;
}

.mainContainer5 {
    width: 1050px;
    margin: 0 auto;
}

.container5 .title_container5 {
    color: #3C4761;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}

.container5 .title_container5 h1 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    margin-bottom: 0;
    padding-top: 60px;
    color: #393939
}

.container5 .title_container5 p {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    width: 498px;
    margin: 0 auto;
    padding-top: 10px;
    color: #393939;

}

.container5 .title_container5 hr {
    width: 87px;
    margin: 0 auto;
    max-height: 10px;
    color: #E5C37F;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
}

.container5 .title_container5 ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    list-style-type: none;
    font-size: 18px;
    width: 380px;
}

.button_s5 {
    border: none;
    background: #00000014;
    height: 38px;
    width: 90px;
    border-radius: 8px;
}

.button_s5:hover {
    background-color: #ffffff;
    border-radius: 6px;
}

.content5 {

    width: 1050px;
    height: 1206px;
    margin: 0 auto;
    padding-top: 200px;

}

.content5 .el5_1 {
    /* align-items: center; */
    display:flex;
    flex-direction:row;
}

.content5 .el5_2 {
    
    display:flex;
    flex-direction:row;
}

.content5 .elements {
    width: 541px;
    padding-top: 90px;
    margin: 0 auto;
}

.container5 .content5 .elements5 h3 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #393939;
    align-items: center;
    margin-left:160px;
}

.el5_2{
    padding-top: 70px;
}

.button_5 {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 293px;
    height: 70px;
    margin: 0 auto;
    background-color: #17C2A4;
    color: #ffffff;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    border-top:#17C2A4;
    border-left:#17C2A4;;
    border-right:#17C2A4;;
    border-radius: 5px;
    margin-top:30px;
}

.isometric_perspective, .viro_media, .blog_magazine, .time_zone{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.isometric_perspective, .viro_media{
    padding-right: 40px;
}

.blog_magazine, .time_zone{
    padding-left: 40px;
}

/* SECTIUNEA 6 */
.container6 {
    background-color: #D74680;
    height: 894px;
}

.mainContainer6 {
    width: 1050px;
    margin: 0 auto;
}

.container6 .title_container6 h1 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    line-height: 61px;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
    width: 515px;
}

.container6 .title_container6 hr {
    width: 143px;
    margin: 0 auto;
    max-height: 10px;
    color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 4px 0px 0px 0px;
}

.container6 .title_container6 h3 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    line-height: 27px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    width: 143px;
}

.content6 {
    height: 800px;
    margin: 0 auto;
    padding-top: 60px;
}

.adrianaLima, .anneHathaway{
    float:right;
    margin-left:20px;
}

.chanelIman, .emmaStone{
    float:left;
    margin-right:20px;
}

.anneHathaway, .emmaStone{
    padding-top: 70px;
}
.text{
    float:right;
    margin-left:40px;
}
 .elements6 .img{
    padding-top: 10px;
    float:left;

 }
.adrianaLima , .emmaStone , .anneHathaway, .chanelIman{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.elements6 p {
    font-family: 'Titillium Web';
    font-style: italic;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color:#FFFFFF;
    width:358px;
}

.elements6 h3 {
    margin: 0 auto;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color:#FFFFFF;
}

.elements6 h2 {
    margin:0 auto;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFDD99;
}

/* SECTIUNEA 7 */
.container7 {
    background-color: #3C5499;
    height: 818px;
}

.mainContainer7 {
    width: 1050px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}

.container7 .title_container7 h1 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
    width: 247px;
    display:flex;
    text-align: center;
}

.container7 .title_container7 hr {
    width: 143px;
    margin: 0 auto;
    max-height: 10px;
    color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 4px 0px 0px 0px;
}

.container7 .title_container7 h3 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 30px;
    width: 746px;
    display:flex;
    text-align: center;
}

.container7 .content7 {
    background-color: #3C5499;
    display:flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.button_7 {
    width: 293px;
    height: 70px;
    margin: 0 auto;
    background-color: #30BAE7;
    color: #ffffff;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 18.px;
    line-height: 27px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    border-top: #30BAE7;
    border-left: #30BAE7;
    border-right: #30BAE7;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:70px;

}

.footer {
    background: #344B8E;
    text-decoration: none;
}

footer ul {
    background: #344B8E;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 24px;
    height: 130px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
}

.text_name{
    margin: 0 auto;
    width:414px;
    height: 56px;
    background-color: #273A71;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-left:10px;
    padding-bottom:10px;
    display:flex;
    text-align: center;
}

.text_email{
    padding-left:10px;
    padding-bottom:10px;
    width:414px;
    height: 56px;
    background-color: #273A71;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    display:flex;
    text-align: center;
}

.text_message{
    display:flex;
    text-align: center;

  padding-left:20px;
  padding-top:10px;  
  font-family: 'Titillium Web';
  width: 860px;
  height: 320px;
  margin-top:60px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #273A71;
  font-size: 16px;
  color: #FFFFFF;
}


.boxes{
    width:860px;
    padding-top: 30px;
    display:flex;
    justify-content: space-between;
    text-align: center;
    color: #FFFFFF;

}


