@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Light.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('CrimsonText-Regular.ttf') format('truetype');
    font-weight: 100;
}