.section .card {
    margin-bottom: 50px;
}

.section .card p:first-of-type {
    margin-top: 46px;
}

.section .card .learnMore-button {
    margin-bottom: 46px;
}

.section .card h1 {

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

.section .card p, span, .list_pt3 , .desc-p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    text-align: center;
    color: rgba(33, 37, 41, 0.5);
}

.section .card .plan, .list_pt3 {
    color: #000000;
}

.list_pt3 {
    
    list-style-image: url('images/text-decoration.png');
}
.card-body{
    align-items: center;}