 

 .second-section .title-section2 p:first-of-type {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #F3D92C;
}

 .section .row img {
     width: 100%;
     align-items: center;
     margin-top: 46px;
 }

 .section .learnMore-button {
     color: white;
     background: black;
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 125%;
     text-align: center;
     border-radius: 5px;
     width: 170px;
     height: 48px;
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration: none;
     margin: 0 auto;
     margin-top: 55px;


 }

 /* Mobiles */

 @media (max-width: 767px) {
     .section .text-container {
         margin-top: 34px;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 0px;
     }
     .section .learnMore-button{
        margin-top: 30px;
        margin-bottom: 30px;
     }
     @media (min-width: 768px) {
     
         .mobile-close-menu,
         .mobile-open-menu {
             display: none;
         }
     }
 }

 /* Desktop */

 @media (min-width: 992px) {

     .section .learnMore-button{
        margin-top: 60px;
        margin-bottom: 90px;
     }


 }