.text-container4 h4 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.text-container4 p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    font-size: 20px;
}

.text-container4 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.section4 img {
    width: 100%;
}

.section4 {
    text-align: left;
}


.page4-media{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.page4-media .form-group{
    margin-top:21px;
}
.submit-button {
    color: white;
    background: black;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top:30px;
    height: 48px;
}

.photo{
    margin: 0 auto;;
}

/* Mobile */
@media (max-width: 767px) {

    .text-container4 {
        margin-top: 36px;
    }

    .text-container4 h4 {
        font-size: 20px;
    }

    .section4 .photo {
        margin-top: 40px;
    }
}

/*Desktop*/
@media (min-width: 992px) {
    .text-container4 {
        margin-top: 30px;
    }

    .text-container4 h4 {
        font-size: 40px;
    }

    /* .section4 .photo {
        margin-top:58px;
    } */
    .section4{
        flex-direction: row-reverse;
    }

    .container{
        margin-bottom:30px;
    }

}


/* Tablets */

@media (min-width: 768px) and (max-width: 991px) {
    .section4 img{
        height:100%;
        
    }

    .section4{
        flex-direction: row-reverse;
    }
}