.intro-section {
    background-color: #F25C05;
    padding: 5px 0 82px;
    color: white;
}

.intro-section img {
    width: 100%;
}

.intro-section div[class^="col-"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-section .text-container {
    max-width: 416px;
}

.welcome {
    color: white;
}

.intro-section .button-explore {
    height: 48px;
    width: 170px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    background: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;

}



.second-section h2 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    color: #000000;
}

.second-section .description-p2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #000000;
}

.second-section .title-section2 {
    text-align: center;
}

.section2-media {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.section2-media a {
    padding-top: 30px;
    justify-content: center;
    margin: 20px 20px;
}

.section2-links {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.section2-media .card-img-top {
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 20px;
    padding: 0;

}


.second-section .card h5 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
}

.second-section .card p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.75);
}

.second-section .card img {
    width: 175px;
    height: 175px;
    left: 13.5px;
    top: 0px;
}

.section2-media .card {
    text-align: left;
}

.card-body {
    padding: 0;
}

.text-container1 {
    text-align: left;
}

.text-container1 .welcome {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.text-container1 h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

.text-container1 p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.75);
}

/* Desktop */

@media (min-width: 992px) {



    .second-section .title-section2 {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .second-section .section2-links img {
        max-width: 150px;
    }

    .second-section .section2-media {
        margin-top: 20px;
    }

    .second-section .illustration-part h2:first-of-type {
        margin-top: 89px;
    }

    .second-section .illustration-part h2:last-of-type {
        margin-top: 156px;
    }

    .second-section .section2-media {
        margin-top: 45px;
    }

    .second-section .section2-media img {
        align-items: center;
    }

    .second-section .learnMore-button {
        margin-bottom: 25px;
    }




}


/* Tablets */

@media (min-width: 768px) and (max-width: 991px) {

    .second-section .title-section2 {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .second-section .section2-links img {
        max-width: 150px;
        padding-top:20px;
    }

    .second-section .section2-media {
        margin-top: 20px;
    }



    .second-section .section2-media img {
        align-items: center;
    }

    .second-section .learnMore-button {
        margin-bottom: 25px;
    }

}

/* Mobiles */
@media (max-width: 767px) {
    .section-1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .intro-section p:first-of-type {
        margin-top: 30px;
    }

    .intro-section .description-p {
        margin-bottom: 25px;
        margin-top: 15px;
    }

    .second-section .title-section2 {
        margin-top: 22px;
    }

    .section2-media {
        margin-top: 41px;
    }

    .section2-links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .second-section .card {
        margin-left: 50px;
        margin-right: 46px;
        margin-top: 35px;
    }

}