header {
    background-color: #F25C05;
    height: 120px;
    width: 100%;
    padding: 35px 0;
    position: fixed;
    top: 0;
    left: 0;
}

main {
    padding-top: 120px;
}

.container {
    align-items: center;
    text-align: center;
    margin-bottom:10px;
}

.header-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links a {
    padding: 12px 15px;
    text-decoration: none;
    color: white;
    font-family: 'WorkSans';
    font-weight: 400;
}

.text-container {
    margin-top:10px;
    align-items: center;
}

.text-container h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    color: #000000;
}

.text-container p:first-of-type {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #F3D92C;
}

.text-container.description-p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #000000;
}


.learnMore-button {
    color: white;
    background: black;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    border-radius: 5px;
    width: 170px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 55px;
}

.center-illustration, .revert-on-mobile {
    margin-top: 60px;
    text-align: left;
}

.center-illustration img, .revert-on-mobile img {
    width: 100%;
}

.revert-on-mobile {
    flex-direction: row-reverse;
}

.card {
    background: #FFFFFF;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    left: 0px;
    top: 0px;
    position:static;
    align-items: center;
    text-align: center;
    padding-bottom:20px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social .social-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

/* Mobile */
@media (max-width: 767px) {

    .text-container {
        margin-top: 21px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
       
    }
    main {
        padding-top: 70px;
    }

    header {
        height: 70px;
        padding: 16px 0;
    }

    .mobile-navigation-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F25C05;
        display: none;
    }

    .nav-links {
        flex-direction: column;
        padding: 30px 0;
    }

    .nav-links a {
        display: block;
    }

    .mobile-close-menu {
        position: absolute;
        top: 14px;
        right: 14px;
    }

    .mobile-close-menu,
    .mobile-open-menu {
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 22px;
        width: 44px;
        height: 44px;
    }

    .logo-link img {
        height: 38px;
    }

    .mobile-navigation-container.open {
        display: flex;
    }

    footer {
        width: 100%;
        background: #F25C05;
        padding-top: 30px;
        padding-bottom: 30px;
        margin:0;
        color:#FFFFFF;
        margin-top:20px

    }

    .social{
        flex-direction: column;
    }

    .social p{
        margin-top:20px;
    }

}


/* Tablets */

@media (min-width: 768px) and (max-width: 991px) {
    .text-container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
}

/*Desktop*/
@media (min-width: 992px) {
    .text-container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
       
    }
}
@media (min-width: 768px) {

    .mobile-close-menu,
    .mobile-open-menu {
        display: none;
    }

    footer {
        width: 100%;
        background: #F25C05;
        padding-top: 30px;
        padding-bottom: 30px;
        margin:0;
    }


    .social p {
        margin:0;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 125%;
        text-align: right;
        color: #FFFFFF;

    }
}