html,body{
    background-color: black;
    width:100%;
}

.titlu{
    color:white;
    margin:auto;
     padding: 0px;
     display:flex;
    justify-content: center;
    text-align:center;
    font-size:xx-large;
}

.subtitlu{
        color:white;
        margin:0 auto;
         padding: 0px;
         display:flex;
        justify-content: center;
        text-align:center;
        font-size:large;
        font-style: oblique;

}

.imagine{
   display:block;
    width: 100%;
    margin:auto;
}

.titlu_bio{
    color:white;
    padding: 10px;
    margin:auto;
    display:flex;
    justify-content: center;
    font-size: large;
    font-style: italic;
}

.subtitlu_bio{
    height: 300px;
    width: 400px;
    color:white;
    padding: 10px;
    margin: 0 auto ;
    margin-bottom: 0 ;
    display:flex;
    justify-content:center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}

.hr{
    width:200px;
    height: 200px;
    border:none;
    margin:0 auto;
}

.asezare{
    text-align: center;
    margin:0;
    padding: 0;
}