html,body{
    background-color:rgb(203, 178, 146);
    height:100%;
    margin: 0px;
}

.div_principal{
        background-color:blanchedalmond;
        border-width: 2px;
        border-color: black;
        height:100%;
        margin-right: auto;
        margin-left: auto;
        padding: 20px;
        width:800px;
        border-style: groove;
        }

.div_site{
    float:right;
    margin: 30px;
    padding:10px;
}

.div_site a {
    text-decoration:none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.div_caseta{
    margin:100px;
}


.div_caseta_alba{
    background-color: white;
    margin:auto;
    height: 350px;
}

.div_poze{
    display:flex;
    justify-content: center;
    padding: 30px;
   
 
}

.titlu_caseta{
    text-align: center;
    text-shadow:1px 1px;
    padding:20px;
    border:20px;
}

.text_caseta{
    font-size: larger;
    border:30px;
    text-align:center;
    padding: 30px;
    
}

.h3{
    text-align: center;
    padding:10px;
    border:20px;
}

.div_icon{
    background-color:rgb(199, 137, 56);
    display: flex;
    justify-content: center;
    margin:auto;
    
}

.buton_verify{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border:2px;
    border-style: solid;
    border-color: rgb(12, 12, 12);
    padding:5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size:13px;
    cursor:pointer;
    text-align: center;  
    width: 100px;  
    height:45px;  
    padding-top: 5px;  
}