html,body{
        background-color: rgb(235, 222, 222);
        margin:100px;
        display: flex;
        justify-content: center;

}

.div_sus{
        
        margin:auto;
}

.div_jos{
    background-color: white;
    height: 250px;
    width: 410px;
    padding-top:50px;
    margin: auto;
}

.div_titlu_secundar{
        text-align: center;
        text-shadow:1px 1px;
}

.div_continut_secundar{
        font-size: larger;
        border:30px;
        text-align:center;
        padding: 40px;
        
}

.buton_view{
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        border:3px;
        border-style: solid;
        border-color: rgb(12, 12, 12);
        padding:5px;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size:16px;
        cursor:pointer;
        text-align: center;  
        width: px;  
        height:30px;  
        padding-top: 5px;  
}

.div_detalii{
                 display: flex;
                 justify-content: center;
                margin-top:50px;
                padding:10px;
                text-align: center;
                color:rgb(183, 163, 163);
                
}

.div_principal{
        width: 400px;
}