body {
    font-family: Manrope, sans-serif;
}

:root {
    --white: #ffffff;
    --dark: #000000;
    --font-family-primary: "Manrope";
    --main-color: #2F60A6;
}

.btn-page-1-1 {
    width: 150px;
    background: var(--main-color);
    border-radius: 8px;
    font-family: var(--font-family-primary);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--white);
    text-align: center;
    padding: 10px 20px;
    margin: 0;
    margin-right: 40px;
    border-color: #000000;
}

.section1 {
    background-image: url("images/Rectangle_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.content1 {
    text-align: center;
}

.section1 .h1 {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
}

.content1 .p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2px;
}

.navbar-text {
    font-family: var(--font-family-primary);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--dark);
}

.header-nav {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    align-items: center;
    justify-content: space-around;
    padding-left: 150px;

}

/* MOBILE NAV BAR */
@media only screen and (max-width:767px) {
    .header-nav {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 30px;
        align-items: center;
        justify-content: space-between;

    }

    .btn-page-1-1 {
        width: 80px;
        background: var(--main-color);
        border-radius: 8px;
        font-family: var(--font-family-primary);
        font-size: 10px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--white);
        text-align: center;
        padding: 5px 5px;
        margin: 0;
        margin-right: 40px;
        border-color: #000000;
    }

}

/* LAPTOP */
@media only screen and (min-width: 992px) {

    .btn-page-1-1 {
        width: 80px;
        background: var(--main-color);
        border-radius: 8px;
        font-family: var(--font-family-primary);
        font-size: 10px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--white);
        text-align: center;
        padding: 5px 5px;
        margin: 0;
        margin-left: 100px;
        margin-right: 40px;
        border-color: #000000;
    }
}

/* TABLETA */
@media only screen and (max-width: 992px) {
    .btn-page-1-1 {
        width: 80px;
        background: var(--main-color);
        border-radius: 8px;
        font-family: var(--font-family-primary);
        font-size: 10px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--white);
        text-align: center;
        padding: 5px 5px;
        margin: 0;

        margin-right: 140px;
        border-color: #000000;
    }
}

.section2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
}

.content2 .card {
    margin: 0 auto;
}

.content2 h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}

.content2 p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    /* or 183% */
    text-align: center;
    letter-spacing: 0.2px;
}

.content2 .card-img-top {
    margin: 0 auto;
    width: 18%;
}

.content3 {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content3_p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
}

.items-container3 {
    margin: 0 auto;
    padding-top: 20px;
}

.section3 {
    background: linear-gradient(180deg, #2F60A6 0%, #2C347C 100%);
    color: #ffffff;
}

.section4 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}



.buton4 {
    padding: 10px;
    margin: 0 auto;
    color: #ffffff;
    background-color: #2F60A6;
    border-radius: 5px;
    border-color: #2F60A6;
    border-top: #2F60A6;
    border-bottom: #2F60A6;
    border-left: #2F60A6;
    border-right: #2F60A6;
}

.section4 .img4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section4 .sus,
.jos {
    text-align: left;
    align-items: center;
}

.section4 h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
}

.section4 .content4 p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #808080;
}

@media screen and (max-width:767px) {

    .section4 .sus,
    .jos {
        text-align: center;
        align-items: center;
    }
}


.section4 .sus {
    flex-direction: row-reverse;
}

.section5 {
    padding-top: 50px;
    background: linear-gradient(180deg, #2F60A6 0%, rgba(44, 52, 124, 0.0121536) 99.99%, rgba(255, 255, 255, 0) 100%);
    text-align: center;
    width: 100%;
}

/* LAPTOP */
@media only screen and (min-width: 992px) {
    .items-container5 {
        margin: auto;
        width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 24px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .row1 {
        display: flex;
        flex-direction: column;
    }

    .row2 {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .row3 {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .borusan {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url("images/borusan.png");
        background-position: center center;
        background-repeat: no-repeat;
    }

    .istanbul {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url("images/istanbul.png");
        background-position: center center;
        background-repeat: no-repeat;
    }

    .book {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url("images/Book.png");
        background-position: center center;
        background-repeat: no-repeat;
    }

    .akbank {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url("images/akbank.png");
        background-position: center center;
        background-repeat: no-repeat;
    }

    .akcan {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url("images/akcan.png");
        background-position: center center;
        background-repeat: no-repeat;
    }

    .tumunu {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url("images/tumunu.png");
        background-position: center center;
        background-repeat: no-repeat;
    }

    .aktas {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url("images/aktas.png");
        background-position: center center;
        background-repeat: no-repeat;
    }

    .ola {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url("images/OLA.png");
        background-position: center center;
        background-repeat: no-repeat;
    }

    .amazon {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url("images/Amazon.png");
        background-position: center center;
        background-repeat: no-repeat;
    }

    .container {
        max-width: 1440px;
    }
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .items-container5 {
        margin: auto;
        width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 16px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .row1 {
        display: flex;
        flex-direction: column;
    }

    .row2 {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .row3 {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .borusan {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 140px;
        height: 90px;
        background-image: url(/images/borusan.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .istanbul {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 140px;
        height: 90px;
        background-image: url(/images/istanbul.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .book {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 140px;
        height: 90px;
        background-image: url(/images/Book.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .akbank {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 140px;
        height: 90px;
        background-image: url(/images/akbank.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .akcan {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 140px;
        height: 90px;
        background-image: url(/images/akcan.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .tumunu {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 140px;
        height: 90px;
        background-image: url(/images/tumunu.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .aktas {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 140px;
        height: 90px;
        background-image: url(/images/aktas.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .ola {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 140px;
        height: 90px;
        background-image: url(/images/OLA.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .amazon {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 140px;
        height: 90px;
        background-image: url(/images/Amazon.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .container {
        max-width: 994px;
    }
}

/* MOBILE */
@media only screen and (max-width:767px) {
    .items-container5 {
        margin: auto;
        width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .row1 {
        display: flex;
        flex-direction: column;
    }

    .row2 {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .row3 {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .borusan {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url(./images/borusan.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .istanbul {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url(./images/istanbul.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .book {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url(./images/Book.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .akbank {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url(./images/akbank.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .akcan {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url(./images/akcan.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .tumunu {
        background: var(--white);
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        width: 170px;
        height: 96px;
        background-image: url(./images/tumunu.png);
        background-position: center center;
        background-repeat: no-repeat;
    }


    .container {
        max-width: 1440px;
    }
}

.section6 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.buton6 {
    padding: 10px;
    color: #ffffff;
    background-color: #2F60A6;
    border-radius: 5px;
    border-color: #2F60A6;
    border-top: #2F60A6;
    border-bottom: #2F60A6;
    border-left: #2F60A6;
    border-right: #2F60A6;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.section6 p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */

    text-align: center;
}

.section7 {
    background-color: #2F60A6;
    color: #ffffff;
    padding-bottom: 30px;
}

.section7 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.section7 .item_f {
    padding-top: 20px;
    margin: 0 auto;
}

.section7 .items_f {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

.section7 .item2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.section7 .item3 {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

/* MOBILE */
@media only screen and (max-width:767px) {
    .section7 .items_f {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 67px;
        align-items: flex-start;

    }

    .section7 .item3 {
        display: flex;
        justify-content: space-between;

    }
}

/* LAPTOP */
@media only screen and (max-width:992px) {
    .section7 .item3 {
        display: flex;
        justify-content: space-between;

    }
}