@import url('https://fonts.googleapis.com/css2?family=Koulen:wght@400;700;800&display=swap');

* {
    font-family: 'Koulen';
    color: white;
}

html {
    background: url('images/fpage-background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.main-page-content {
    margin-top: 90px;
    align-items: center;
    text-align: center;

}

h1 {
    color: white;
    font-size: 90px;
}

#choose-game-mode a {
    transition: opacity 0.5s linear;
    background: none;
    color: white;
    border: none;
    font-size: 25px;
    margin: 0px 30px 0px 20px;
    text-decoration: none;
}

#choose-game-mode a:hover {
    color: #fff;
    opacity: 30%;
    cursor: pointer;
}