@import url('https://fonts.googleapis.com/css2?family=Koulen:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Koulen';
  color: white;
  letter-spacing: 3px;
}

html {

  height: 100%;

}

body {
  background: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.animation-game,
.board4x4,
.board3x4 {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


.main-container {
  padding-top: 20px
}

/* multiplayer-text is used for matches */
#multiplayer-text1-3x4,
#multiplayer-text2-3x4,
#multiplayer-text1-4x4,
#multiplayer-text2-4x4,
#details-3x4,
#details-3x4 button,
.time {
  text-shadow: 2px 2px black;
  text-align: center;
}

#multiplayer-text1-3x4,
#multiplayer-text2-3x4,
#multiplayer-text1-4x4,
#multiplayer-text2-4x4,
.time {
  font-size: 23px;
}

#matches3x4,
#matches4x4 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

/* player-info is used for player description */
#player1-info-3x4 p:first-of-type,
#player2-info-3x4 p:first-of-type,
#player1-info-4X4 p:first-of-type,
#player2-info-4x4 p:first-of-type,
#flip-player1-3x4,
#flip-player1-4x4,
#flip-player2-3x4,
#flip-player2-4x4,
.time, #details-4x4 button {
  text-shadow: 2px 2px black;
  font-size: 20px;
}

.time {
  margin-top: 10px;
}

#go-back {
  text-decoration: none;
  margin-left: 30px;
}

#go-back:hover {
  color: #fff;
  opacity: 30%;
  cursor: pointer;
}

#go-back-choose-btn {
  background: none;
  border: none;
  text-align: left;
  margin-left: 37px;
  margin-top: 0px;
  font-size: 23px;
}

#go-back-selectors a {
  font-size: 33px;
}

#go-back-selectors {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#go-back-selectors a:hover,
button:hover,
#choose-game-mode p:hover {
  color: #fff;
  opacity: 30%;
  cursor: pointer;
}

#choose-game-mode {
  text-align: center;
  margin-top: 90px;
}

#choose-game-mode p {
  margin: 50px auto 50px auto;
  font-size: 40px;
}

#choose-game-mode h1 {
  text-align: center;
  margin-bottom: 130px;
  font-size: 35px;

}

.board4x4,
.board3x4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background: none;
  width: 100%;
}

.cards,
.cards1,
.card,
.card1,
.view,
#details-3x4,
#details-4x4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*CARDS PROPERTIES 
  CARDS IS USED FOR ENTIRE UL
  CARD IS USED FOR EACH ELEMENT
  CARD -3X4 BOARD
  CARD1 -4X4 BOARD*/

.cards {
  height: 250px;
  width: 400px;
  display: grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(4, 100px);

}

.cards1 {
  margin-top: 10px;
  height: 350px;
  width: 400px;
  flex-wrap: wrap;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(4, 100px);
}

.cards .card {
  cursor: pointer;
  width: 50px;
  height: 70px;
  transform-style: preserve-3d;
  margin: 10px 10px 0px 10px;
}

.cards1 .card1 {
  cursor: pointer;
  width: 80px;
  height: 80px;
  transform-style: preserve-3d;
  margin: 10px 10px 0px 10px;
}

.card img {
  height: 30px;
  width: 300%;
}

.card.shake {
  animation: shake 0.35s ease-in-out;
}

.card1 img {
  height: 30px;
  width: 300%;
}

.card1.shake {
  animation: shake 0.35s ease-in-out;
}

.cards .card .view {
  width: 100%;
  height: 100%;
  margin: 20px 20px 20px 20px;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: none;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
}

.cards1 .card1 .view {
  width: 100%;
  height: 100%;
  margin: 20px 20px 20px 20px;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: none;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
}

.card .front-view img {
  width: 80px;
  height: 45px;
}

.card1 .front-view img {
  width: 69px;
  height: 40px;
}

.card .back-view {
  transform: rotateY(-180deg);
}

.card .back-view img {
  width: 40px;
  height: 40px;
}

.card.flip .front-view {
  transform: rotateY(180deg);
}

.card.flip .back-view {
  transform: rotateY(0);
}

.card1 .back-view {
  transform: rotateY(-180deg);
}

.card1 .back-view img {
  width: 40px;
  height: 40px;
}

.card1.flip .front-view {
  transform: rotateY(180deg);
}

.card1.flip .back-view {
  transform: rotateY(0);
}

.card .back-view {
  transform: rotateY(-180deg);
}

.card.flip .front-view {
  transform: rotateY(180deg);
}

.card.flip .back-view {
  transform: rotateY(0);
}

#details-3x4{
  margin-top: 45px;
}

#details-3x4,
#details-4x4 {
  width: 500px;
  padding: 0 20px;
  border-radius: 7px;
  background: none;
  height: 60px;
  align-items: center;
  font-size: 23px;
  text-align: center;
}


#details-3x4 button,
#details-4x4 button {
  cursor: pointer;
  padding: 4px 11px;
  background: none;
  transition: 0.3s ease;
  border: none;
  font-size: 21px;
}


#details-3x4 button:hover,
#details-4x4 button:hover {
  color: #fff;
  opacity: 10%;
}


.hide {
  display: none;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-13px);
  }

  40% {
    transform: translateX(13px);
  }

  60% {
    transform: translateX(-8px);
  }

  80% {
    transform: translateX(8px);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
