@import url('https://fonts.googleapis.com/css2?family=Koulen:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Koulen';
  color: white;
  letter-spacing: 3px;
}

html {

  height: 100%;
  width: 100%;
}

.animation-game,
.board4x4,
.board3x4 {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

body {
  background: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.main-container {
  padding-top: 20px;
}

#single-player-text1,
#single-player-text2,
.details,
.details button {
  text-shadow: 2px 2px black;
  text-align: center;
}

#single-player-text1,
#single-player-text2 {
  
  margin-bottom: 20px;
  font-size: 30px;
}

#go-back {
  text-decoration: none;
  margin-left: 30px;
}

#go-back:hover {
  color: #fff;
  opacity: 30%;
  cursor: pointer;
}

#go-back-choose-btn {
  background: none;
  border: none;
  text-align: left;
  margin-left: 37px;
  margin-top: 10px;
  font-size: 23px;
}

#go-back-selectors a {
  font-size: 33px;
}

#go-back-selectors {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#go-back-selectors a:hover,
button:hover,
#choose-game-mode p:hover {
  color: #fff;
  opacity: 30%;
  cursor: pointer;
}

#choose-game-mode {
  text-align: center;
  margin-top: 60px;
}

#choose-game-mode p {
  margin: 30px auto 30px auto;
  font-size: 40px;
}

#choose-game-mode h1 {
  text-align: center;
  margin-bottom: 130px;
  font-size: 35px;

}

.board4x4,
.board3x4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  border-radius: 5px;
  background: none;
  width: 100%;
}

.cards,
.cards1,
.card,
.card1,
.view,
.details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  height: 350px;
  width: 400px;
  flex-wrap: wrap;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(4, 100px);
  /* justify-content: space-between; */
}

.cards1 {
  height: 350px;
  width: 400px;
  flex-wrap: wrap;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(4, 100px);
  /* justify-content: space-between; */
}


.cards .card {
  cursor: pointer;
  width: 80px;
  height: 80px;
  transform-style: preserve-3d;
  margin: 10px 10px 0px 10px;
}


.cards1 .card1 {
  cursor: pointer;
  width: 80px;
  height: 80px;
  transform-style: preserve-3d;
  margin: 10px 10px 0px 10px;
}

.card img {
  height: 30px;
  width: 300%;
}

.card.shake {
  animation: shake 0.35s ease-in-out;
}

.card1 img {
  height: 30px;
  width: 300%;
}

.card1.shake {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-13px);
  }

  40% {
    transform: translateX(13px);
  }

  60% {
    transform: translateX(-8px);
  }

  80% {
    transform: translateX(8px);
  }
}

.cards .card .view {
  width: 100%;
  height: 100%;
  margin: 20px 20px 20px 20px;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: none;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
}

.cards1 .card1 .view {
  width: 100%;
  height: 100%;
  margin: 20px 20px 20px 20px;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: none;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
}

.card .front-view img {
  width: 350px;
  height: 50px;
}

.card1 .front-view img {
  width: 300px;
  height: 50px;
}

.card .back-view {
  transform: rotateY(-180deg);
}

.card .back-view img {
  width: 50px;
  height: 50px;
}

.card.flip .front-view {
  transform: rotateY(180deg);
}

.card.flip .back-view {
  transform: rotateY(0);
}

.card1 .back-view {
  transform: rotateY(-180deg);
}

.card1 .back-view img {
  width: 50px;
  height: 50px;
}

.card1.flip .front-view {
  transform: rotateY(180deg);
}

.card1.flip .back-view {
  transform: rotateY(0);
}

.details {
  width: 500px;
  margin-top: 20px;
  padding: 0 20px;
  border-radius: 7px;
  background: none;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.details p {
  padding-right: 18px;
}

.details p span {
  margin-left: 8px;
}

.details p b {
  font-weight: 500;
}

.details button {
  cursor: pointer;
  padding: 4px 11px;
  background: none;
  transition: 0.3s ease;
  border: none;
  font-size: 21px;
}

.card .back-view {
  transform: rotateY(-180deg);
}

.card .back-view img {
  width: 50px;
  height: 50px;
}

.card.flip .front-view {
  transform: rotateY(180deg);
}

.card.flip .back-view {
  transform: rotateY(0);
}

.details button:hover {
  color: #fff;
  opacity: 10%;
}


.hide {
  display: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}